<phpunit bootstrap="./tests/bootstrap.php" colors="true" displayDetailsOnTestsThatTriggerNotices="true" displayDetailsOnTestsThatTriggerWarnings ="true">
  <testsuites>
    <testsuite name="unit">
        <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">core</directory>
    </include>
  </source>
</phpunit>
